<a href="https://colab.research.google.com/github/RobsonCrLira/QuartentenaDadosAlura/blob/master/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Robson Lira

In [0]:
import pandas as pd

In [18]:
filmes = pd.read_csv('https://raw.githubusercontent.com/RobsonCrLira/QuartentenaDadosAlura/master/ml-latest-small/movies.csv')
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes.columns  = ["filmesId", "titulo", "generos"]

In [25]:
filmes.head()

   filmesId  ...                                      generos
0         1  ...  Adventure|Animation|Children|Comedy|Fantasy
1         2  ...                   Adventure|Children|Fantasy
2         3  ...                               Comedy|Romance
3         4  ...                         Comedy|Drama|Romance
4         5  ...                                       Comedy

[5 rows x 3 columns]

In [26]:
avaliacoes = pd.read_csv('https://raw.githubusercontent.com/RobsonCrLira/QuartentenaDadosAlura/master/ml-latest-small/ratings.csv')
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
avaliacoes.columns = ['usuarioId', 'filmeId', 'avaliacao', 'timestamp']

In [31]:
avaliacoes.head(20)

    usuarioId  filmeId  avaliacao  timestamp
0           1        1        4.0  964982703
1           1        3        4.0  964981247
2           1        6        4.0  964982224
3           1       47        5.0  964983815
4           1       50        5.0  964982931
5           1       70        3.0  964982400
6           1      101        5.0  964980868
7           1      110        4.0  964982176
8           1      151        5.0  964984041
9           1      157        5.0  964984100
10          1      163        5.0  964983650
11          1      216        5.0  964981208
12          1      223        3.0  964980985
13          1      231        5.0  964981179
14          1      235        4.0  964980908
15          1      260        5.0  964981680
16          1      296        3.0  964982967
17          1      316        3.0  964982310
18          1      333        5.0  964981179
19          1      349        4.0  964982563