<a href="https://colab.research.google.com/github/RobsonCrLira/QuarentenaDadosAlura/blob/master/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Robson Lira

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [44]:
filmes = pd.read_csv('https://raw.githubusercontent.com/RobsonCrLira/QuartentenaDadosAlura/master/ml-latest-small/movies.csv')
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes.columns  = ["filmeId", "titulo", "generos"]

In [46]:
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [47]:
avaliacoes = pd.read_csv('https://raw.githubusercontent.com/RobsonCrLira/QuartentenaDadosAlura/master/ml-latest-small/ratings.csv')
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
avaliacoes.columns = ['usuarioId', 'filmeId', 'nota', 'timestamp']

In [49]:
avaliacoes.head()

   usuarioId  filmeId  nota  timestamp
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [0]:
nota_media_por_filmes = avaliacoes.groupby('filmeId')['nota'].mean()

In [0]:
filmes = filmes.join(nota_media_por_filmes,on = 'filmeId')

#Desafio 1
Pegar os filmes sem avaliação

In [52]:
filmes.head()

   filmeId  ...      nota
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [0]:
filmes_sem_avaliacao = filmes.query('nota != nota')

In [54]:
filmes_sem_avaliacao

      filmeId  ... nota
816      1076  ...  NaN
2211     2939  ...  NaN
2499     3338  ...  NaN
2587     3456  ...  NaN
3118     4194  ...  NaN
4037     5721  ...  NaN
4506     6668  ...  NaN
4598     6849  ...  NaN
4704     7020  ...  NaN
5020     7792  ...  NaN
5293     8765  ...  NaN
5421    25855  ...  NaN
5452    26085  ...  NaN
5749    30892  ...  NaN
5824    32160  ...  NaN
5837    32371  ...  NaN
5957    34482  ...  NaN
7565    85565  ...  NaN

[18 rows x 4 columns]

# Desafio 2

mudar o nomes da coluna nota

In [0]:
filmes.rename(columns={'nota': 'media'}, inplace=True)

In [56]:
filmes.head()

   filmeId  ...     media
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

# Desafio 3
colocar no DF a quantidade de votos por filme

In [0]:
votos_por_filmes = avaliacoes.groupby('filmeId')['nota'].count()

In [0]:
filmes = filmes.join(votos_por_filmes,on='filmeId')

In [0]:
filmes.rename( columns={'nota': 'votos_totais'},inplace=True)

In [60]:
filmes

      filmeId  ... votos_totais
0           1  ...        215.0
1           2  ...        110.0
2           3  ...         52.0
3           4  ...          7.0
4           5  ...         49.0
...       ...  ...          ...
9737   193581  ...          1.0
9738   193583  ...          1.0
9739   193585  ...          1.0
9740   193587  ...          1.0
9741   193609  ...          1.0

[9742 rows x 5 columns]

# Desafio 4 

Arredondar a nota para duas casa decimais

In [61]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmeId       9742 non-null   int64
 1   titulo        9742 non-null   object
 2   generos       9742 non-null   object
 3   media         9724 non-null   float64
 4   votos_totais  9724 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 380.7+ KB

In [0]:
for valor in filmes['media'].values:
  filmes['media'] = round(filmes['media'],2)

In [63]:
filmes.head()

   filmeId                              titulo  ... media  votos_totais
0        1                    Toy Story (1995)  ...  3.92         215.0
1        2                      Jumanji (1995)  ...  3.43         110.0
2        3             Grumpier Old Men (1995)  ...  3.26          52.0
3        4            Waiting to Exhale (1995)  ...  2.36           7.0
4        5  Father of the Bride Part II (1995)  ...  3.07          49.0

[5 rows x 5 columns]

#Desafio 5

Descobrir quantos filmes possui um unico genero

In [0]:
todos_generos = filmes['generos'].str.split("|",expand=False)
lista = []

for valor in todos_generos.values:
    lista.extend(valor)

filtro = pd.DataFrame(lista).dropna()
generos  = sorted(filtro[0].unique())

#Desafio 6 

contar o numero de aparições de casa genero

0    22084
dtype: int64