<a href="https://colab.research.google.com/github/RobsonCrLira/QuartentenaDadosAlura/blob/master/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Robson Lira

In [0]:
import pandas as pd

In [9]:
filmes = pd.read_csv('https://raw.githubusercontent.com/RobsonCrLira/QuartentenaDadosAlura/master/ml-latest-small/movies.csv')
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes.columns  = ["filmeId", "titulo", "generos"]

In [11]:
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [12]:
avaliacoes = pd.read_csv('https://raw.githubusercontent.com/RobsonCrLira/QuartentenaDadosAlura/master/ml-latest-small/ratings.csv')
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
avaliacoes.columns = ['usuarioId', 'filmeId', 'nota', 'timestamp']

In [14]:
avaliacoes.head()

   usuarioId  filmeId  nota  timestamp
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [0]:
nota_media_por_filmes = avaliacoes.groupby('filmeId')['nota'].mean()

In [21]:
filmes.join(nota_media_por_filmes,on = 'filmeId')

      filmeId  ...      nota
0           1  ...  3.920930
1           2  ...  3.431818
2           3  ...  3.259615
3           4  ...  2.357143
4           5  ...  3.071429
...       ...  ...       ...
9737   193581  ...  4.000000
9738   193583  ...  3.500000
9739   193585  ...  3.500000
9740   193587  ...  3.500000
9741   193609  ...  4.000000

[9742 rows x 4 columns]

#Desafio 1
Pegar os filmes sem avaliação

# Desafio 2

mudar o nomes da coluna nota